{% extends 'base2.html' %}
{% block title %}
	SIGEPRO - Detalles del Proyecto
{% endblock %}
{% block content %}
    <head>
<link rel="stylesheet" type="text/css" href="/estaticos/usuario/css/base.css" />
<link rel="stylesheet" type="text/css" href="/estaticos/usuario/css/forms.css" />

</head>
    <div class="breadcrumbs">
    <a href="/proyectos/">Proyectos</a>
    "> Detalle_Proyecto"
    </div>

                <div id="content">
                <h1>Detalles del {{proyecto.nombre|title}}</h1>
       <fieldset class="module aligned wide">
<form method="post">{% csrf_token %}
    <div class="form-row">
            <h3><p><div><strong>Nombre: </strong>{{ proyecto.nombre }}</div></h3></p>
            <h3><p><div><strong>Codigo: </strong>{{ proyecto.id }}</div></h3></p>
            <h3><p><div><strong>Descripción: </strong>{{ proyecto.descripcion }}</div></h3></p>
            <h3><p><div><strong>Estado: </strong>{{ proyecto.get_estado_display }}</div></h3></p>
            <h3><p><div><strong>Fecha de Inicio: </strong>{{ proyecto.fecha_ini }}</div></h3></p>
            {% if proyecto.fecha_fin != none %}
                <h3><p><div><strong>Fecha de Finalizacion: </strong>{{ proyecto.fecha_fin}}</div></h3></p>
            {% endif %}
            <!--<div><strong>Observaciones: </strong>{{ proyecto.observaciones }}</div>-->
            {% for integrante in comite %}
                <h3><p>{{ integrante.first_name}} {{ integrante.last_name}}</h3></p>
            {% endfor %}
        </div>
</form>
            </fieldset>
                    </div>

{% endblock %}