{% extends 'base2.html' %}
{% block title %}
	Modificar_Proyecto
{% endblock %}
{% block content %}
<head>
<link rel="stylesheet" type="text/css" href="/estaticos/usuario/css/base.css" />
<link rel="stylesheet" type="text/css" href="/estaticos/usuario/css/forms.css" />
</head>
    <div class="breadcrumbs">
    <a href="/proyectos/">Proyectos</a>
    "> Modificar Proyecto"
    </div>
    <div id="content">
    <h1>Modificar Proyecto {{ nombre|title }}</h1>
        <fieldset class="module aligned wide">
<form method="post">{% csrf_token %}
    <div class="form-row">
    {{ proyectos.as_p }}
        </div>
    <div class="submit-row">
    <input type="submit" value="Guardar Cambios" />
        </div>
</form>
            </fieldset>
    </div>
{% endblock %}