{% extends "base2.html" %}

{% block title %}
inicio
{% endblock %}

{% block content %}

<!DOCTYPE html>

<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Login Form</title>
    <link rel="stylesheet" href="/estaticos/usuario/css/style.css">
    <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
{% if user.is_authenticated %}
<center><font size="3", color="FFFFFF">Bienvenido {{user.username|capfirst}}</font>
    <a href="/usuarios/cerrar/">Salir</a></center>
{% else %}
<section class="container">
    <div class="login">
        <h1>Ingresar</h1>
        <form method="post">{% csrf_token %}
            <p><input type="text" name="username" value="" placeholder="Usuario"></p>
            <p><input type="password" name="password" value="" placeholder="Contraseña"></p>
            <p class="remember_me">
                <label>
                    <input type="checkbox" name="remember_me" id="remember_me">
                    Recordarme.
                </label>
            </p>
            <p class="submit"><input type="submit" name="commit" value="Login">{% csrf_token %}</p>
        </form>
    </div>

    <div class="login-help">
        <!--
        <p>Forgot your password? <a href="index.html">Click here to reset it</a>.</p>
        -->
    </div>
</section>
{% endif %}
</body>
</html>


<div class="row-fluid">
    <div class="span12">
        <hr class="medio">
        <div class="row-fluid s1 medio2">
            <br>
            <h4  align="center"><font color="#151515", size="6"><strong>Sistema de Gestion de Proyectos</strong></font></h4>
            <br>
        </div>
    </div>
</div>


{% endblock %}
