{% extends 'base2.html' %}
{% block title %}
	Trabajos
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="es-PY" >
<head>
<link rel="stylesheet" type="text/css" href="/estaticos/usuario/css/base.css" />
<link rel="stylesheet" type="text/css" href="/estaticos/usuario/css/changelists.css" />

<script type="text/javascript">window.__admin_media_prefix__ = "/estaticos/usuario/";</script>
<script type="text/javascript" src="/estaticos/usuario/js/core.js"></script>
<script type="text/javascript" src="/estaticos/usuario/js/jquery.js"></script>
<script type="text/javascript" src="/estaticos/usuario/js/jquery.init.js"></script>
<script type="text/javascript" src="/estaticos/usuario/js/actions.js"></script>
<meta name="robots" content="NONE,NOARCHIVE" />
</head>

  <div class="breadcrumbs">

        <a href="/userStories/">Administracion de User Stories</a> >>

        "Administracion de Trabajos"
    </div>


<body class="dashboard">

<!-- Container -->
<div id="container">
    <!-- Content -->

        <h1>Administracion de Trabajos </h1>

<ul class="object-tools">
    <li>

        <a href="/trabajos/crear" class="addlink">Nuevo Trabajo</a>

    </li>
</ul>
<div id="content-main">




        <div class="results" >
         <ul class="errorlist">
            {% if  mensaje == 0 %}
            <li>Error: No se puede eliminar un item que tenga hijos</li>
                {% elif mensaje == 2 %}
                <li>Error:  No se puede eliminar un item cuyo estado no sea pendiente.</li>
            {% endif %}
        </ul>
        <ul class="infolist">
            {% if mensaje == 1 %}
            <li>Item eliminado correctamente</li>
            {% endif %}
        </ul>
        <table >
        <thead>
        <tr>
            <th scope="col" class="sortable" >
                <div class="text">
                    <a>Descripcion</a>
                </div>
            </th>
             <th scope="col">
                <div class="text">
                    <a>Fecha</a>
                </div>
            </th>
            <th scope="col">
                <div class="text">
                    <a>Hora</a>
                </div>
            </th>
            <th scope="col">
                <div class="text">
                    <a>Adjunto</a>
                </div>
            </th>

        </tr>
        </thead>
        <tbody>
        {% for Trabajo in datos  %}
            <tr>
                <td><center>{{ Trabajo.descripcion }}</center></td>
                <td><center>{{ Trabajo.fecha }}</center></td>
                <td><center>{{ Trabajo.hora }}</center></td>
                <td><center><a href="/trabajos/adjunto/{{ Trabajo.id }}"  class="btn btn-success"><i class="icon-file icon-white"></i></a></center></td>

            </tr>
        {% endfor %}
        </tbody>

        </table>
        </div>


</div>



        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
{% endblock %}

