{% extends 'base2.html' %}
{% block title %}
	Rol_Existosa
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="es-PY" >
<head>
<link rel="stylesheet" type="text/css" href="/static/usuario/css/base.css" />

<script type="text/javascript">window.__admin_media_prefix__ = "/static/usuario/";</script>

<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class="">

<!-- Container -->
<div id="container">


<div class="breadcrumbs">
<a href="/roles/">Roles</a>
&rsaquo; Creo un Rol
</div>



    <!-- Content -->
    <div id="content" class="colM">


<h1>Rol Registrado</h1>

<p>Correctamente.</p>



        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
{% endblock %}
