{% extends 'base2.html' %}
{% block title %}
Roles
{% endblock %}
{% block content %}

<!DOCTYPE html>

<html lang="es-PY">
<head>
    <link rel="stylesheet" type="text/css" href="/estaticos/usuario/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/estaticos/usuario/css/changelists.css"/>

    <script type="text/javascript">window.__admin_media_prefix__ = "/estaticos/usuario/";</script>
    <script type="text/javascript" src="/estaticos/usuario/js/core.js"></script>
    <script type="text/javascript" src="/estaticos/usuario/js/jquery.js"></script>
    <script type="text/javascript" src="/estaticos/usuario/js/jquery.init.js"></script>
    <script type="text/javascript" src="/estaticos/usuario/js/actions.js"></script>
    <meta name="robots" content="NONE,NOARCHIVE"/>
</head>


<body class="dashboard">

<div id="content" class="change-list" style="width: 700px">

    <h1>Administracion de Roles</h1>

    <form action="/roles/search/" method="get">
        <label for="q"></label>
        <input type="text" name="q" value="{{ query|escape }}" class="search-query" placeholder="Buscar Nombre del Rol">
        <div class="btn-group">
            <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
        </div>
        <a href="/roles/" class="btn btn-success"><i class="icon-refresh"></i></a>
    </form>

    <ul class="object-tools">
        <li>
            <a href="/roles/crear" class="addlink">Nuevo Rol</a>
        </li>
    </ul>
    <div id="content-main">

        <div class="results">
            <ul class="errorlist">
                {% if mensaje == 0 %}
                <li>Error: El rol Lider no se puede eliminar</li>
                {% elif mensaje == 1 %}
                <li>Error: Rol eliminado</li>
                {% elif mensaje == 2 %}
                <li>Error: No se puede eliminar. El rol posee asociados.</li>
                {% endif %}
            </ul>

            <h2>Roles del Usuario</h2>
            <table>
                <thead>
                <tr>
                    <th scope="col">
                        <div class="text">
                            <a>Roles</a>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="text">
                            <a>Detalles</a>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="text">
                            <a>Modificar</a>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="text">
                            <a>Eliminar</a>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>

                <!--Lista los roles de usuario -->
                {% for dato in datos %}
                {% if  dato.name != "Administrador" and dato.name != "Scrum Master" %}
                <tr>
                    <td>
                        <center>{{ dato.name }}</center>
                    </td>
                    <td>
                        <center><a href="/roles/{{ dato.id }}" class="btn btn-success"><i
                                class="icon-eye-open icon-white"></i></a></center>
                    </td>
                    <td>
                        <center><a href="/roles/modificar/{{ dato.id }}" class="btn btn-warning"><i
                                class="icon-pencil icon-white"></i></a></center>
                    </td>
                    <td>
                        <center><a href="/roles/eliminar/{{ dato.id }}" class="btn btn-danger"><i
                                class=" icon-trash icon-white"></i></a></center>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}

                </tbody>

            </table>

            </br></br></br>

            <h2>Roles del Sistema</h2>
            <table>
                <thead>
                <tr>
                    <th scope="col">
                        <div class="text">
                            <a>Roles</a>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="text">
                            <a>Detalles</a>
                        </div>
                    </th>

                </thead>

                <tbody>

                <!--Lista los roles del sistema -->
                {% for dato in datos %}
                {% if  dato.name = "Administrador" or dato.name = "Scrum Master" %}
                <tr>
                    <td>
                        <center>{{ dato.name }}</center>
                    </td>
                    <td>
                        <center><a href="/roles/{{ dato.id }}" class="btn btn-success"><i
                                class="icon-eye-open icon-white"></i></a></center>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}

                </tbody>

            </table>
        </div>


    </div>


    <br class="clear"/>
</div>

<div id="footer"></div>

</body>
</html>
{% endblock %}