{% extends 'base.html' %}
{% block title %}
Roles
{% endblock %}
{% block content %}

<!DOCTYPE html>

<html lang="es-PY">
<head>
    <link rel="stylesheet" type="text/css" href="/estaticos/usuario/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/estaticos/usuario/css/changelists.css"/>

    <script type="text/javascript">window.__admin_media_prefix__ = "/estaticos/usuario/";</script>
    <script type="text/javascript" src="/estaticos/usuario/js/core.js"></script>
    <script type="text/javascript" src="/estaticos/usuario/js/jquery.js"></script>
    <script type="text/javascript" src="/estaticos/usuario/js/jquery.init.js"></script>
    <script type="text/javascript" src="/estaticos/usuario/js/actions.js"></script>
    <meta name="robots" content="NONE,NOARCHIVE"/>
</head>


<body class="dashboard">

<div id="content" class="change-list" style="width: 700px">

    <h1>Administracion de Roles</h1>

    <ul class="object-tools">
        <li>
            <a href="/roles/crear" class="addlink">Nuevo Rol</a>
        </li>
    </ul>
    <div id="content-main">

        <div class="results">
            <ul class="errorlist">
                {% if mensaje == 0 %}
                <li>Error: El rol Lider no se puede eliminar</li>
                {% elif mensaje == 1 %}
                <li>Error: Rol eliminado</li>
                {% elif mensaje == 2 %}
                <li>Error: No se puede eliminar. El rol posee fase asociada.</li>
                {% endif %}
            </ul>
            <table>
                <thead>
                <tr>
                    <th scope="col" class="sortable">
                        <div class="text">
                            <a>Codigo</a>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="text">
                            <a>Roles</a>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="text">
                            <a>Detalles</a>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="text">
                            <a>Modificar</a>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="text">
                            <a>Eliminar</a>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for rol in object_list %}
                <tr>
                    <td>
                        <center>{{ rol.nombre }}</center>
                    </td>
                    <td>
                        <center><a href="/roles/{{ rol.id }}" class="btn btn-success"><i
                                class="icon-eye-open icon-white"></i></a></center>
                    </td>
                    <td>
                        <center><a href="/roles/modificar/{{ rol.id }}" class="btn btn-warning"><i
                                class="icon-pencil icon-white"></i></a></center>
                    </td>
                    <td>
                        <center><a href="/roles/eliminar/{{ rol.id }}" class="btn btn-danger"><i
                                class=" icon-trash icon-white"></i></a></center>
                    </td>
                </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>


    </div>


    <br class="clear"/>
</div>

<div id="footer"></div>

</body>
</html>
{% endblock %}