{% extends 'base2.html' %}
{% block title %}
	User Stories
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="es-PY" >
<head>
<link rel="stylesheet" type="text/css" href="/estaticos/usuario/css/base.css" />
<link rel="stylesheet" type="text/css" href="/estaticos/usuario/css/changelists.css" />

<script type="text/javascript">window.__admin_media_prefix__ = "/estaticos/usuario/";</script>
<script type="text/javascript" src="/estaticos/usuario/js/core.js"></script>
<script type="text/javascript" src="/estaticos/usuario/js/jquery.js"></script>
<script type="text/javascript" src="/estaticos/usuario/js/jquery.init.js"></script>
<script type="text/javascript" src="/estaticos/usuario/js/actions.js"></script>
<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class="dashboard">

<!-- Container -->
<div id="container">
    <!-- Content -->

        <h1>Administracion de User Stories </h1>

<ul class="object-tools">
    <li>

        <a href="/userStories/crear/{{ id_proyecto}}" class="addlink">Nuevo User Story</a>

    </li>
</ul>
<div id="content-main">




        <div class="results" >
         <ul class="errorlist">
            {% if  mensaje == 0 %}
            <li>Error: No se puede eliminar un item que tenga hijos</li>
                {% elif mensaje == 2 %}
                <li>Error:  No se puede eliminar un item cuyo estado no sea pendiente.</li>
            {% endif %}
        </ul>
        <ul class="infolist">
            {% if mensaje == 1 %}
            <li>Item eliminado correctamente</li>
            {% endif %}
        </ul>
        <table >
        <thead>
        <tr>
            <th scope="col" class="sortable" >
                <div class="text">
                    <a>Nombre</a>
                </div>
            </th>
             <th scope="col">
                <div class="text">
                    <a>Estado</a>
                </div>
            </th>
             <th scope="col">
                <div class="text">
                    <a> Tiempo Estimado </a>
                </div>
            </th>
            <th scope="col">
                <div class="text">
                    <a>Tiempo Registrado</a>
                </div>
            </th>
            <th scope="col">
                <div class="text">
                    <a>Ultimo Cambio</a>
                </div>
            </th>
                </div>
            </th>
            <th scope="col">
                <div class="text">
                    <a>Descripcion</a>
                </div>
            </th>
             <th scope="col">
                <div class="text">
                    <a>Modificar</a>
                </div>
                 </th>
            <th scope="col">
                <div class="text">
                    <a>Cambiar estado</a>
                </div>

            </th>
            <th scope="col">
                <div class="text">
                    <a>Eliminar</a>
                </div>
            </th>
            <th scope="col">
                <div class="text">
                    <a>Trabajos</a>
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for dato in datos  %}
            <tr>
                <td><center>{{ dato.nombre}}</center></td>
				<td><center>{{ dato.get_estadoScrum_display }}</center></td>
                <td><center>{{ dato.tiempo_estimado }}</center></td>
                <td><center>{{ dato.tiempo_registrado }}</center></td>
                <td><center>{{ dato.ultimo_cambio }}</center></td>
                <td><center><a href="/userStories/detalle/{{ dato.id }}"  class="btn btn-success"><i class="icon-eye-open icon-white"></i></a></center></td>
                <td><center><a href="/userStories/modificar/{{ dato.pk }}" class="btn btn-primary"><i class="icon-pencil icon-white"></i></a></center></td>
                <td><center><a href="/userStories/cambiar_estado/{{ dato.pk }}" class="btn btn-info"><i class="icon-retweet icon-white"></i></a></center></td>
                <td><center><a href="/userStories/eliminar/{{ dato.pk }}" class="btn btn-danger"><i class=" icon-trash icon-white"></i></a></center></td>
                <td><center><a href="/userStories/trabajos/{{ dato.id }}" class="btn btn-info"><i class="icon-bookmark icon-white"></i></a></center></td>
            </tr>
        {% endfor %}
        </tbody>

        </table>
        </div>


</div>



        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
{% endblock %}

