{% extends 'base2.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="es-PY" >
<head>
<title>Cambio de contraseña exitoso</title>
<link rel="stylesheet" type="text/css" href="/estaticos/usuario/css/base.css" />

<script type="text/javascript">window.__admin_media_prefix__ = "/estaticos/usuario/";</script>

<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class="">

<!-- Container -->
<div id="container">


<div class="breadcrumbs">
<a href="/siap/">Inicio</a>
&rsaquo; Cambio de contraseña
</div>



    <!-- Content -->
    <div id="content" class="colM">


<h1>Cambio de contraseña exitoso</h1>

<p>Su contraseña ha sido cambiada.</p>



        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
{% endblock %}
