{% extends 'base2.html' %}
{% block title %}
Proyecto_Existosa
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="es-PY" >
<head>

    <link rel="stylesheet" type="text/css" href="/estaticos/usuario/css/base.css" />

    <script type="text/javascript">window.__admin_media_prefix__ = "/static/usuario/";</script>

    <meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class="">

<!-- Container -->
<div ng-app="charts" ng-controller="ChartCtrl as vm" ng-init=vm.getId({{id}})>


       <canvas id="line" class="chart chart-line" data="data"
        labels="labels" legend="true" series="series"
        click="onClick">
       </canvas>

    </div>
    <script>
        angular.module("charts", ["chart.js"]).controller("ChartCtrl", function ($scope) {
  $scope.labels = ["January", "February", "March", "April", "May", "June", "July"];
  $scope.series = ['Series A', 'Series B'];
  $scope.data = [
    [60, 50, 40, 30, 20, 10, 0],
    [28, 48, 40, 19, 86, 27, 90]
  ];
  $scope.onClick = function (points, evt) {
    console.log(points, evt);
  };
});
    </script>
</div>


        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
{% endblock %}
