{% extends 'base2.html' %}
{% block title %}
Sprints
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="es-PY" >
<head>
    <link rel="stylesheet" type="text/css" href="/estaticos/usuario/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/estaticos/usuario/css/changelists.css" />

    <script type="text/javascript">window.__admin_media_prefix__ = "/estaticos/usuario/";</script>
    <script type="text/javascript" src="/estaticos/usuario/js/core.js"></script>
    <script type="text/javascript" src="/estaticos/usuario/js/jquery.js"></script>
    <script type="text/javascript" src="/estaticos/usuario/js/jquery.init.js"></script>
    <script type="text/javascript" src="/estaticos/usuario/js/actions.js"></script>
    <meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class="dashboard">

<!-- Container -->
<div id="container">
    <!-- Content -->
    <div id="content" class="change-list" style="width: 1100px">
        <div class="breadcrumbs">
            <a href="/proyectos/">Proyectos</a>
            ">Administracion de Sprints"
        </div>
        <h1>Sprints para el proyecto {{ proyecto.nombre }}</h1>
        <form action="/sprints/search/{{proyecto.id}}" method="get">
            <label for="q"></label>
            <input type="text" name="q" value="{{ query|escape }}" class="search-query" placeholder="Buscar Nombre del Sprint">
            <div class="btn-group">
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </div>
            <a href="/sprints/proyecto/{{proyecto.id}}" class="btn btn-success"><i class="icon-refresh"></i></a>
        </form>


        <ul class="object-tools">
            <li>
                <a href="/sprints/registrar/{{proyecto.id}}" class="addlink">Nuevo Sprint</a>
                <!--<a href="/sprints/lista_todas/{{proyecto.id}}" class="addlink">Importar Sprint</a>-->
            </li>
        </ul>
        <div id="content-main">

            <h2>Sprints FUTUROS</h2>
            <div class="results" >
                <table >
                    <thead>
                    <tr>
                        <th scope="col" class="sortable" >
                            <div class="text">
                                Nombre
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Descripcion
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Inicio Propuesto
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Fin Propuesto
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Capacidad
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Horas U.S.
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Sprint Backlog
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Eliminar
                            </div>
                        </th>

                        {% if sprintActivo == 0  %}
                            <th scope="col", colspan="3">
                                <div class="text">

                                </div>
                            </th>
                            <th scope="col">
                                <div class="text">
                                    INICIAR
                                </div>
                            </th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for dato in datos  %}
                        {% if dato.estado == 0  %}
                            <tr>
                                <td><center>{{ dato.nombre }}</center></td>
                                <td><center>{{ dato.descripcion }}</center></td>
                                <td><center>{{ dato.inicio_propuesto }}</center></td>
                                <td><center>{{ dato.fin_propuesto }}</center></td>
                                <td><center>{{ dato.capacidad }}</center></td>
                                <td><center>{{ dato.horasUS }}</center></td>
                                <td><center><a href="/sprints/backlog/{{ dato.pk }}" class="btn btn-warning"><i class=" icon-user icon-white"></i></a></center></td>
                                <td><center><a href="/sprints/eliminar/{{ dato.pk }}" class="btn btn-danger"><i class=" icon-trash icon-white"></i></a></center></td>
                                {% if sprintActivo == 0  %}
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td><center><a href="/sprints/iniciar/{{ dato.pk }}" class="btn btn-success"><i class=" icon-play icon-white"></i></a></center></td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>

                </table>

                <h2>Sprint INICIADO</h2>
                <table >
                    <thead>
                    <tr>
                        <th scope="col" >
                            <div class="text">
                                Nombre
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Descripcion
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Capacidad
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Horas U.S.
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Sprint Backlog
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Inicio
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Inicio Propuesto
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Fin Propuesto
                            </div>
                        </th>
                        <th scope="col", colspan="3">
                            <div class="text">

                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                FINALIZAR
                            </div>
                        </th>
                         <th scope="col">
                            <div class="text">
                                Burndown Chart
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for dato in datos  %}
                        {% if dato.estado == 1  %}
                            <tr>
                                <td><center>{{ dato.nombre }}</center></td>
                                <td><center>{{ dato.descripcion }}</center></td>
                                <td><center>{{ dato.capacidad }}</center></td>
                                <td><center>{{ dato.horasUS }}</center></td>
                                <td><center><a href="/sprints/backlog/{{ dato.pk }}" class="btn btn-warning"><i class=" icon-user icon-white"></i></a></center></td>
                                <td><center>{{ dato.inicio }}</center></td>
                                <td><center>{{ dato.inicio_propuesto }}</center></td>
                                <td><center>{{ dato.fin_propuesto }}</center></td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td><center><a href="/sprints/finalizar/{{ dato.pk }}" class="btn btn-success"><i class=" icon-stop icon-white"></i></a></center></td>
                                <td><center><a href="/sprints/graficar/{{ dato.pk }}" class="btn btn-success"><i class=" icon-picture icon-white"></i></a></center></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>

                </table>

                <h2>Sprints FINALIZADOS</h2>
                <table >
                    <thead>
                    <tr>
                        <th scope="col" class="sortable" >
                            <div class="text">
                                Nombre
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Descripcion
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Capacidad
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Sprint Backlog
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Inicio
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Fin
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Inicio Propuesto
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                Fin Propuesto
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for dato in datos  %}
                        {% if dato.estado == 2  %}
                            <tr>
                                <td><center>{{ dato.nombre }}</center></td>
                                <td><center>{{ dato.descripcion }}</center></td>
                                <td><center>{{ dato.capacidad }}</center></td>
                                <td><center>{{ dato.horasUS }}</center></td>
                                <td><center><a href="/sprints/backlog/{{ dato.pk }}" class="btn btn-warning"><i class=" icon-user icon-white"></i></a></center></td>
                                <td><center>{{ dato.inicio }}</center></td>
                                <td><center>{{ dato.fin }}</center></td>
                                <td><center>{{ dato.inicio_propuesto }}</center></td>
                                <td><center>{{ dato.fin_propuesto }}</center></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>

                </table>
            </div>


        </div>


        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
{% endblock %}

