{% extends 'base2.html' %}
{% block title %}
SIGEPRO - Equipos
{% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="/estaticos/usuario/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/estaticos/usuario/css/forms.css" />
</head>

<div class="breadcrumbs">
    <a href="/proyectos/">Proyectos</a>
    "> Ver_Equipo"
</div>


<div id="content">
    <h1>Equipo de {{proyecto.nombre|title}}</h1>
    <ul class="object-tools">
        <li>
            <a href="/equipos/agregar/{{ proyecto.id }}" class="addlink">Agregar Usuario</a>
        </li>
    </ul>
    <div id="container">

        <div id="content-main">
            <fieldset class="module aligned wide">
                <form method="post">{% csrf_token %}
                    <div class="form-row">


                        <h1><div><p style="font-size:18px"><strong>Scrum Master: </strong>{{ scrumMaster.first_name}} {{ scrumMaster.last_name}} ({{ scrumMaster.username }}) - Cant. horas =  {{ cantHorasUS }}</p></div></h1>

                        {% for equipo in equipos %}
                            <h2><p style="font-size:18px">{{ equipo.usuario.first_name }} {{ equipo.usuario.last_name }} ({{ equipo.usuario }}) - Cant. horas =  {{ equipo.horasPorDia }}</p></h2>
                            {% for rol in equipo.rol.all %}
                                <!-- <li><p style="font-size:16px"><b>  {{ rol }} </b>  <a href="/equipos/eliminar/{{ equipo.id }}"><i class="icon-remove icon-black"></i></a></p></li> -->
                                <li><p style="font-size:16px"><b> {{ rol }} </b>  <a href="/equipos/eliminar/{{ equipo.id }}"><i class="icon-remove icon-black" onclick="return confirm('Está seguro que desea eliminar al miembro del equipo?')"></i></a></p></li>
                            {% endfor %}
                            </br>
                        {% endfor %}
                        </br>
                        <hr>
                        <h3><p style="font-size:18px"><b>Fuerza de trabajo {{ fuerzaTrabajo }} </b></p></h3>
                        <p style="font-size:18px">
                    </div>
                </form>
            </fieldset>
        </div>
    </div>
</div>

{% endblock %}