{% extends 'base2.html' %}
{% block title %}
Equipo
{% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="/estaticos/usuario/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/estaticos/usuario/css/forms.css" />
</head>

<div class="breadcrumbs">
    <a href="/proyectos/">Proyectos</a>
    "> Ver_Equipo"
</div>


<div id="content">
    <h1>Equipo de {{proyecto.nombre|title}}</h1>
    <div id="container">
        <ul class="object-tools">
            <li>

                <a href="/equipos/agregar/{{ proyecto.id }}" class="addlink">Agregar Usuario</a>

            </li>
        </ul>
        <div id="content-main">
            <fieldset class="module aligned wide">
                <form method="post">{% csrf_token %}
                    <div class="form-row">

                        <div><h3><strong>Equipo: </strong></h3></div>
                        {% for equipo in equipos %}
                            {% for rol in equipo.rol.all %}
                                <li><b> {{ rol }} </b> {{ equipo.usuario }} <a href="/equipos/eliminar/{{ equipo.id }}"><i class="icon-remove icon-black"></i></a></li>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </form>
            </fieldset>
        </div>
        {% endblock %}