{% extends 'base2.html' %}
{% block title %}
Flujos
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="es-PY" >
<head>
    <link rel="stylesheet" type="text/css" href="/estaticos/usuario/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/estaticos/usuario/css/changelists.css" />

    <script type="text/javascript">window.__admin_media_prefix__ = "/estaticos/usuario/";</script>
    <script type="text/javascript" src="/estaticos/usuario/js/core.js"></script>
    <script type="text/javascript" src="/estaticos/usuario/js/jquery.js"></script>
    <script type="text/javascript" src="/estaticos/usuario/js/jquery.init.js"></script>
    <script type="text/javascript" src="/estaticos/usuario/js/actions.js"></script>
    <meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class="dashboard">

<!-- Container -->
<div id="container">
    <!-- Content -->
    <div id="content" class="change-list" style="width: 1000px">
        <div class="breadcrumbs">
            <a href="/proyectos/">Proyecto {{ proyecto.nombre }}</a>>>
            <a href="/flujos/proyecto/{{proyecto.id}}">Flujo {{ flujo.nombre }}</a>>
            "Eleccion de Usuarios"
        </div>
        <h1>Rol para el Flujo {{ flujo.nombre }}</h1>

        <div id="content-main">

            <div class="results" >
<!--                <ul class="errorlist">
                    {% if  mensaje == 100 %}
                        <li>Info: User Story asignado correctamente</li>
                    {% elif mensaje == 1 %}
                        <li>info: User Story desasignado correctamente</li>
                    {% endif %}
                </ul>-->
                <h2>User Stories nuevos</h2>
                <table >
                    <thead>
                    <tr>
                        <th scope="col" class="sortable" >
                            <div class="text">
                                <a>Nombre</a>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                <a> Asignar  </a>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for dato in datos  %}
                        {% if dato.estadoScrum == 0 %}
                            <tr>
                                <td><center>{{ dato.nombre }}</center></td>
                                <td><center><a href="/flujos/asignar/{{ dato.pk }}/{{ flujo.id }}" class="btn btn-success"><i class="icon-plus icon-white"></i></a></center></td>
                            </tr>
                        {% endif %}
                        {% empty %}
                            <li>No hay user Stories nuevos</li>
                    {% endfor %}
                    </tbody>

                </table>

                <h2>User Stories iniciados</h2>
                <table >
                    <thead>
                    <tr>
                        <th scope="col" class="sortable" >
                            <div class="text">
                                <a>Nombre</a>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text">
                                <a> Desasignar  </a>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for dato in datos  %}
                        {% if dato.estadoScrum == 1 %}
                            <tr>
                                <td><center>{{ dato.nombre }}</center></td>
                                <td><center><a href="/flujos/desasignar/{{ dato.pk }}/{{ flujo.id }}" class="btn btn-danger"><i class=" icon-minus icon-white"></i></a></center></td>
                            </tr>
                        {% endif %}
                        {% empty %}
                            <li>No hay user Stories nuevos</li>
                    {% endfor %}
                    </tbody>

                </table>

                <h2>User Stories suspendidos</h2>
                <table >
                    <thead>
                    <tr>
                        <th scope="col" class="sortable" >
                            <div class="text">
                                <a>Nombre</a>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for dato in datos  %}
                        {% if dato.estadoScrum == 2 %}
                            <tr>
                                <td><center>{{ dato.nombre }}</center></td>
                            </tr>
                        {% endif %}
                        {% empty %}
                            <li>No hay user Stories nuevos</li>
                    {% endfor %}
                    </tbody>

                </table>

                <h2>User Stories eliminados</h2>
                <table >
                    <thead>
                    <tr>
                        <th scope="col" class="sortable" >
                            <div class="text">
                                <a>Nombre</a>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for dato in datos  %}
                        {% if dato.estadoScrum == 3 %}
                            <tr>
                                <td><center>{{ dato.nombre }}</center></td>
                            </tr>
                        {% endif %}
                        {% empty %}
                            <li>No hay user Stories nuevos</li>
                    {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>



        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
{% endblock %}